<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Search</title>
    </head>
    <body>
            
                <tbody>
                    {{#each gameDetails}}
                        <tr>
                            <td>
                                Name: {{this.name}}
                                </br>
                                Published :{{this.year}}
                                </br>
                                Ranking : {{this.ranking}}
                                </br>
                                Users Rated : {{this.users_rated}}
                                </br>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>

</html>