<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Search</title>
    </head>
    <body>
       <h1>Games with '<code>{{ q }}</code>' </h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each games}}
                        <tr>
                            <td>
                                <form method="GET" action="/gid">
                                    <input type="hidden" value={{ this.gid }} name="name">
                                    <type="submit">     
                                    {{ this.name }}</td>
                                </form>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
</html>